<div class="row">
  <div class="col s3">
        
      <div class="card">
        <div class="card-content">
          <span class="card-title">Add marker</span>
          
          <div class="input-field col s12">
            <input type="text" id="message" [(ngModel)]="message" placeholder="Your place..." class="validate">
            <label class="active" for="message">Name of the place:</label>
          </div>

          <div class="switch">
            <label>
              Close
              <input type="checkbox" [(ngModel)]="status">
              <span class="lever"></span>
              Open
            </label>
          </div>
          
        </div>
        <div class="card-action right-align">
          <a class="waves-effect btn" (click)="createMarker()"><i class="material-icons right">add_location</i>Add</a>
        </div>
      </div>
      
    
    <h4>Markers</h4>
    <ul class="collection" *ngFor="let marker of markers">
      <li class="collection-item">
        <a (click)="flyTo(marker)" href="#!" >{{ marker.properties.message }}</a>
        <a (click)="removeMarker(marker)" href="#!" class="secondary-content">
          <i class="material-icons">clear</i>
        </a>
      </li>
    </ul>
  </div>
  <div class="col s9">    
    <div class="map" id="map"></div>
  </div>
</div>
